<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.0"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <h1>Hello, Willie :)</h1>
    <div id="app">
        <div v-if="showBooks">
            <div v-show="filteredBooks.length > 0">
                <h3>Favorites</h3>
                <ul>
                    <li v-for="(book, index) in filteredBooks" :class="{ fav: book.isFav }" @click="toggleFav(book)">
                        <img :src="book.img" :alt="book.title">
                        <h3>{{ book.title }}</h3>
                        <p>{{ book.author }}</p>
                        <img src="assets/heart.png" width="20" v-if="book.isFav" @click="toggleFav(book)">
                        <img src="assets/forbidden.png" width="20" v-if="!book.isFav" @click="toggleFav(book)">
                    </li>
                </ul>
            </div>
            <p><br/>All books</p>
            <ul>
                <li v-for="(book, index) in books" :class="{ fav: book.isFav }" @click="toggleFav(book)">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                    <img src="assets/heart.png" width="20" v-if="book.isFav" @click="toggleFav(book)">
                    <img src="assets/forbidden.png" width="20" v-if="!book.isFav" @click="toggleFav(book)">
                </li>
            </ul>
        </div>
        <div v-else>
            <p>Click the button below to show books</p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide books</span>
            <span v-else>Show books</span>
        </button>
    </div>

    <script src="app.js"></script>
</body>

</html>